[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Luis Osa
	email = luis.osagomez@telefonica.com
[color]
	ui = true
[alias]
	logcommits  = log -n 10 --oneline
	discard = checkout --
	amend = commit --amend
	hist = log --color --pretty=format:\"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)\" --relative-date --decorate
	lastedit = log --pretty=format: --name-only -n 1
[push]
	default = current
[hub]
	host = pdihub.hi.inet
